body{
    margin: 0 !important;
    padding: 0 !important;
}
.row{
    margin-right: 0 !important;
}
.form-control{
    padding: 3px 5px !important;
}
.btn-purple{
    background: rgb(167, 16, 167);
}
.btn-purple:hover{
    background: purple;
    transition: 0.2s all ease;
}
.loginform{
    display: block;
    width: 51%;
    height: 330px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;    
    margin-top: 20%;    
    margin-left: 20%;    
}
.lgi{
    height: 370px !important;
}
.biglogo{
    display: inline-block;
    margin-top: 30%;
}
#_dashboard_body{
    background: rgb(237, 239, 244);
}
.sidebar{
background: #f2f2f2;
height: 100vh;
}
.side_menu{
    
}
.side_menu .list-group-item{
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    color: #666;
    padding: 10px 20px;
    text-decoration: none;    
}
.side_menu .list-group-item:hover{
     color: black;     
     background-color: white !important;
     transition: 0.2s all ease;
}
i{
    margin-right: 7px;
}
#page_content{
    padding: 10px;
}
.p_profile{
    background: white;
    box-shadow: 0px 0px 15px #7d7b7b;    
    padding: 10px;    
    border-radius: 5px;    
    width: 50%;
    margin: 0 auto;
}
.media{
    height: 200px;
}
.media img{
    width: 200px !important;
    height: 200px !important;
}